<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="../css/style_inicio.css" rel="stylesheet">
    <title>Clínica Odontológica</title>
</head>
<body>
<h1>Bienvenido a la Clínica Odontológica</h1>
<a href="registrarOdontologo.html">Ir a Odontólogos</a>
<br>
<a href="registrarPaciente.html">Ir a Pacientes</a>
<br>
<a href="listaOdontologosYPacientes.html">Ver lista de Odontólogos y Pacientes</a>
<br>
<a href="gestionarTurno.html">Gestionar Turnos</a>
<br>
<a href="listarTurnos.html">Listar Turnos</a>
</body>
</html>