<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="../css/styleInicioSesion.css" rel="stylesheet"/>
    <title>Formulario de Inicio</title>
</head>
<body>
<div class="container"> <!-- Agregado el contenedor -->
    <h2>Inicio Sesión Paciente</h2>

    <form action="index.html" method="post">
        <label for="email">Email:</label>
        <input id="email" name="email" required type="email"/>

        <br/>

        <label for="password">Contraseña:</label>
        <input id="password" name="password" required type="password"/>

        <br/>

        <input type="submit" value="Iniciar Sesión"/>
        <!-- Botón para redireccionar a otro formulario -->
        <button
                onclick="window.location.href='registroPaciente.html'"
                type="button"
        >
            ¿No estas Registrado como Paciente? Registrate
        </button>
    </form>
</div>
</body>
</html>