<!-- lista.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <link href="../css/estyle_listado.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Listado de Turnos</title>
    <!-- Agrega tus enlaces a archivos CSS y scripts JS según sea necesario -->
</head>
<body>
<h2>Listado Turnos</h2>

<h3>Turnos</h3>
<table border="1" id="tablaTurnos">
    <thead>
    <tr>
        <th>Fecha y hora</th>
        <th>Odontólogo</th>
        <th>Paciente</th>
    </tr>
    </thead>
    <tbody id="cuerpoTablaTurnos">
    <!-- Aquí se mostrará la lista de turnos -->
    </tbody>
</table>
<br>
<a href="index.html">Volver a la página de inicio</a>

<!-- Agrega tus enlaces a archivos JS al final del body si es necesario -->
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/listarTurnos.js"></script>
</body>
</html>